body, html {
	background-color:#00004d;
	margin-left: 50px;
}
h1 {
	font-family: Garamond;
	font-size: 70px;
	text-align: right;
	color: #990000;
	background-color: #e0ebeb;
}
.navigation {
	font-family: Perpetua;
}
.navigation li {
}
.banner {
	background-image: url("banner.jpeg")
	max-width: 100%;
  	height: auto;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
}
#content {
	opacity: 0.5;
	border: dotted navy;
	border-radius: 20px;
}
h3 {
}
h2 {
	font-family: Perpetua;
	color: #b3ffe6;
}
p {
	color: white;
}
.contact {
}
.soc {
	color: #e6e6e6;
}
.data {
	color: #ff4da6;
}

