body {
	background:;
}
h1 {
	font-family: Garamond;
	font-size: 60px;
}
.navigation {
	font-family: Perpetua;
}
.navigation li {
}
.banner {
}
#content {
}
h3 {
}
h2 {
	font-family: Perpetua;
}
p {
}
.contact {
}
.soc {
}
.data {
}

