body {
	background-color:#00004d;
}
h1 {
	font-family: Garamond;
	font-size: 70px;
	text-align: left;
	foreground-color: #990000;
	background-color: #e0ebeb;
}
.navigation {
	font-family: Perpetua;
}
.navigation li {
}
.banner {
	backgoung-image: url("banner.jpeg")
}
#content {
	opacity: 0.5;
}
h3 {
}
h2 {
	font-family: Perpetua;
}
p {
}
.contact {
}
.soc {
}
.data {
}

